:root {
  --color-bg: #eee;
  --color-fg: #000;

  --color-s0: #fff;

  --color-subtext-0: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #111;
    --color-fg: #eee;

    --color-s0: #000;

    --color-subtext-0: #ccc;
  }

  html {
    color-scheme: dark;
  }
}

html {
  color: var(--color-fg);
  background-color: var(--color-bg);

  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
