:root {
  --color-bg: #ffffff;
  --color-fg: #12111e;
  --color-subtext: #1d1c2d;

  --color-s0: #f0efff;
  --color-s1: #d7d7d9;

  --color-blue: #1565dc;
  --color-green: #2e8453;
  --color-red: #ea0003;
  --color-pink: #c21b66;
  --color-orange: #d33e08;
  --color-cyan: #1076a5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #12111e;
    --color-fg: #f0efff;
    --color-subtext: #c1c0d2;

    --color-s0: #31313e;
    --color-s1: #272734;

    --color-blue: #0555cc;
    --color-green: #65f916;
    --color-red: #ff4b4d;
    --color-pink: #fb71a4;
    --color-orange: #f79716;
    --color-cyan: #2ce1eb;
  }

  html {
    color-scheme: dark;
  }
}

html {
  color: var(--color-fg);
  background-color: var(--color-bg);

  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
