.title {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title__text {
  leading-trim: both;
  text-edge: cap;

  font-size: 3.2em;
  font-style: normal;
  font-weight: 500;
  line-height: 124.138%;

  margin-bottom: 8px;
}

.title__subtitle {
  leading-trim: both;
  text-edge: cap;

  font-size: 1.75em;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
}

/* Dynamic word */
.title__text_dyn {
  font-style: italic;
  font-weight: 600;
}

.title__text_dyn_red {
  color: var(--color-red);
}

.title__text_dyn_blue {
  color: var(--color-blue);
}

.title__text_dyn_green {
  color: var(--color-green);
}

.title__text_dyn_pink {
  color: var(--color-pink);
}

.title__text_dyn_orange {
  color: var(--color-orange);
}

.title__text_dyn_cyan {
  color: var(--color-cyan);
}
