.title {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  background-position: center;

  animation: slideshow 30s ease-in-out infinite;

  padding: 24px;
}

.title__text,
.title__subtitle {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 0;
}

.title__text {
  leading-trim: both;
  text-edge: cap;

  font-size: 3.2em;
  font-style: normal;
  font-weight: 500;
  line-height: 124.138%;

  margin-bottom: 8px;
}

.title__subtitle {
  leading-trim: both;
  text-edge: cap;

  font-size: 1.75em;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;

  color: var(--color-subtext);
}

/* Slideshow */
.title_img_0 {
  background-image: url("/assets/team/0.jpeg");
}

.title_img_1 {
  background-image: url("/assets/team/1.jpeg");
}

.title_img_2 {
  background-image: url("/assets/team/2.jpeg");
}

.title_img_3 {
  background-image: url("/assets/team/3.jpeg");
}

.title_img_4 {
  background-image: url("/assets/team/4.jpeg");
}

/* Dynamic word */
.title__text_dyn {
  font-style: italic;
  font-weight: 600;
}

.title__text_dyn_red {
  color: var(--color-red);
}

.title__text_dyn_blue {
  color: var(--color-blue);
}

.title__text_dyn_green {
  color: var(--color-green);
}

.title__text_dyn_pink {
  color: var(--color-pink);
}

.title__text_dyn_orange {
  color: var(--color-orange);
}

.title__text_dyn_cyan {
  color: var(--color-cyan);
}

.services {
  margin: 24px;
}

.services__title {
  font-size: 2.5em;
  margin: 0;
  text-transform: capitalize;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 10px;
  gap: 10px;
}
