/* Header */
.logo {
  width: 255px;
  display: flex;
}

.head {
  background-color: var(--color-s0);
  position: sticky;
  top: 0;

  /* Spacing */
  padding-right: 12px;

  /* Evenly space children */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headLeft {
  display: inline-block;
}

.headRight {
  display: inline-block;
}

.headRight > a {
  margin-left: 8px;
  color: var(--color-sub-text);
  text-decoration: none;
}

.headRight > a:hover {
  color: var(--color-text);
  text-decoration: underline;
}

/* Body */
.main {
  min-height: 100vh;
}

/* Footer */
.footer {
  background-color: var(--color-s0);

  /* Spacing */
  padding: 12px;

  display: grid;
  grid-template-rows: 1fr 1fr;
}
