.logo {
  width: 255px;
  display: flex;
}

.head {
  margin: 0;
  background-color: var(--color-s0);

  /* Spacing */
  padding-left: 12px;
  padding-right: 12px;

  /* Evenly space children */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headLeft {
  display: inline-block;
}

.headRight {
  display: inline-block;
}

.headRight > a {
  margin-left: 8px;
  color: var(--color-sub-text);
  text-decoration: none;
}

.headRight > a:hover {
  color: var(--color-text);
  text-decoration: underline;
}
